In [1]:
print("hola mundo")

hola mundo

In [2]:
## variables primitivas
entero = 3
decimal = 1.1
nombre = "Angel"
segundo_nombre = 'Daniel'
casado = False
profesor = True
hijos = None
print(type(entero))  # int
print(type(decimal))  # float
print(type(nombre))  # str
print(type(segundo_nombre))  # str
print(type(casado))  # bool
print(type(profesor))  # bool
print(type(hijos))  # NoneType

texto = """
hhffhthththtth
thththththth
ththjyjjyjyjyj
yjyjyjyj jyjjyjy
"""

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [3]:
print(entero)
entero = decimal
entero = hijos
entero = casado
entero = nombre
print(entero)

3
1.1

In [16]:
# Condicion (Boolean)
# Truty
# Falsy
tuplas = ()
listas = []
diccionario = {}
print(type(tuplas))  # tuple
print(type(listas))  # list
print(type(diccionario))  # dict

if(""):  # Falsy
    print("Truty")
else:
    print("Falsy")

if("a"):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(-1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(1):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(0.00):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(0.01):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if(None):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(()):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if((1,2)):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if([]):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if(["a","b"]):  # Truty
    print("Truty")
else:
    print("Falsy")
    
if({}):  # Falsy
    print("Truty")
else:
    print("Falsy")
    
if({nombre:"Angel"}):  # Truty
    print("Truty")
else:
    print("Falsy")

<class 'tuple'>
<class 'list'>
<class 'dict'>
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [18]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
arreglo[2:5]  # filtrar ([2, 5[)
arreglo[2:]
arreglo[:7]
arreglo[-1]
arreglo[2:-1]  # filtrar ([2, -1[)
arreglo[-8:-1]
arreglo[-9:]
arreglo[:-2]
arreglo[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
print(type(7 in arreglo))
print(7 in arreglo)

<class 'bool'>
True

In [31]:
len(arreglo) #10

10

In [36]:
# arreglo.append(11)
# arreglo.pop()
arreglo.insert(1, 1.1)
arreglo

[1, 1.1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [38]:
for numero in arreglo:
    print(numero)
    
contador = 0
while contador < 10:
    print(contador)
    contador += 1

1
1.1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9

In [39]:
tupla_numeros = (1,2,3,4,5)
tupla_numeros

(1, 2, 3, 4, 5)

In [41]:
tupla_numeros[0:3]
len(tupla_numeros)
3 in tupla_numeros

True

In [49]:
angel = {
    nombre:"Angel",
    "apellido":'Yanez',
    'edad':30,
    hijos: None,
    casado: False,
    "mascotas": [{nombre:"cachetes"}],
    'sueldo':1.23
}
angel

{'Angel': 'Angel',
 'apellido': 'Yanez',
 'edad': 30,
 None: None,
 False: False,
 'mascotas': [{'Angel': 'cachetes'}],
 'sueldo': 1.23}

In [57]:
angel["apellido"]
angel["mascotas"][0][nombre]
angel.keys()
"apellido" in angel.keys()
# angel.values()

1 == 1 or 2 == 3 # True
1 == 1 and 2 == 3 # False

False